div#main-menu {
    z-index: 100;
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: center;
    font-size: 1.3em;

    div.background {
        transition: opacity $header-transition-duration;
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        opacity: 0;
        @include white-gradient;
        box-shadow: 0.5em 0.5em 2em rgba(0, 0, 0, 0.25);
    }

    div.wrapper {
        display: block;
        position: relative;

        img:first-of-type {
            $t: $header-transition-duration;
            transition: height $t, top $t, left $t, filter 0.25s;
            transition-timing-function: ease-in;

            position: absolute;
            top: 1em;
            left: 5em;
            height: 2.5em;

            filter: none;
        }
        img:first-of-type:hover {
            filter: drop-shadow(0 0 0.33em rgba(255, 255, 255, 0.5));
            transition: filter 0.25s;
        }
        width: 82rem;
        /*@include white-gradient();*/

        nav.main {
            display: flex;
            justify-content: flex-end;
            flex-wrap: wrap;
            transition: margin-top $header-transition-duration;
            margin: 1.75em 5.4em 1.0em 6em;

            a {
            	text-transform: uppercase;
                display: inline-block;
                color: $white1;
                text-decoration: none;
                white-space: nowrap;
                opacity: 0.75;
                transition: opacity 0.25s;
                &:hover {
                    opacity: 1;
                    transition: opacity 0.25s;

                }

                &.current {
                    opacity: 1;
                    text-decoration: underline;
                }
                margin-left: 1.625em;

            }
        }

    }

}

#hamburger {
    z-index: 200;
    display: none;
    border: 1px solid $white3;
    border-radius: 0.5em;
    width: 1.5em;
    height: 1.5em;
    padding: 0.5em;
    background: $white1;
    img {
        width: 1.5em;
        height: 1.5em;
        opacity: 0.5;
        transition: opacity 0.5s;
    }
    &:hover {
        img {
            opacity: 0.8;
        }
    }
}

@media screen and (max-width: $breakpoint-desktop) {
    #hamburger {
        display: block;
        position: fixed;
        top: 0.25em;
        right: 0.5em;
    }
    div#main-menu {
        position: fixed;
        top: 0;
        overflow: hidden;
        font-size: 225%;
        transition: max-height 0.25s ease-out;
        max-height: 0;
        pointer-events: none;

        &.hamburger-open {
            pointer-events: all;
            max-height: 15em;
        }

        @include white-gradient;
        > div.wrapper {
            padding: 0;
            margin: 0;
            margin-top: 2.5em;
            > nav.main {
                text-align: right;
                margin: 0;
                display: block;
                a {
                    opacity: 1;
                    margin: 0;
                    padding: 0.25em 0;
                    padding-right: 1em;

                    color: $white3;
                    display: block;
                    border-top: 1px solid $white2;
                    transition: color 0.1s, background 0.1s;
                    background: white;
                    &:hover {
                        color: $white1;
                        background: $white3;
                        transition: color 0.1s, background 0.1s;
                    }
                }
            }
        }
    }

}

// On mobile, show "Home" link. On desktop, show wax seal image
#main-menu {
    .nav-home-text {
        display: none !important;
    }
    @media screen and (max-width: $breakpoint-desktop) {
        .nav-home-text {
            // mikewoz disabled this because an extra Home link was added
            //display: block !important;
        	display: none !important;
        }
        .nav-home-image {
            display: none !important;
        }
    }
}

@media screen and (min-width: $breakpoint-desktop) {
    /* Style when div#main-menu is scrolled */
    div#main-menu.scrolled {

        div.background {
            transition: opacity $header-transition-duration;
            opacity: 1;
        }
        div.wrapper {
            img:first-of-type {
                transition: top $header-transition-duration, filter 0.25s;
                transition-timing-function: linear;

                top: 0.5em;

            }
            img:first-of-type:hover {
                filter: drop-shadow(0 0 0.33em rgba(0, 0, 0, 0.5));
                transition: filter 0.25s;
            }

            nav.main {
                transition: margin-top $header-transition-duration;
                margin-top: 1.25em;

                a {
                    transition: color $header-transition-duration opacity 0.25s;
                    color: #333;

                }
            }
        }
    }

}
