@import 'globals';

article.about {

  font-size: 1.2em;

  .video {
    iframe {
      display: inline-block;
      max-width: 100%;
    }
    text-align: center;
  }

  p {
    margin-top: 0;
  }

  @media screen and (min-width: $breakpoint-desktop) {
    .intro {
      column-count: 2;
    }
  }
}
