
/*

	97, 1072
	Patch #1 -	99, 		1068			08.200%,		73.655%
	Patch #2 - 	335, 	1104			27.917%		76.138%
	Patch #3 - 	595, 	1050			49.583%		72.414%
	Patch #4 - 	833, 	1121			69.417%		77.310%
	
*/


$scale: 0.075 * 0.0625em;
div.borderless-card{
	display:flex;
	align-content:center;
	width:1760 * $scale;
	margin:auto;
	flex-direction:row;
	div.dot-column{
		display:flex;
		flex-direction:column-reverse;
		margin-right: 320 * $scale;
		div{
			width: 120 * $scale;
			height: 120 * $scale;
			margin-bottom: 80 * $scale;

			background-image:url(../images/punch-cards/white-dot.png);
			background-color:transparent;
			background-size:cover;
			background-repeat:no-repeat;
		}
		
		&:nth-child(1) > div.number{
			opacity:1;
			transition: opacity 0.5s linear 0s;
		}
		&:nth-child(2) > div.number{
			opacity:1;
			transition: opacity 0.5s linear 1s;
		}
		&:nth-child(3) > div.number{
			opacity:1;
			transition: opacity 0.5s linear 2s;
		}
		&:nth-child(4) > div.number{
			opacity:1;
			transition: opacity 0.5s linear 3s;
		}
		
		div.number{
			background-image:none;			
			&.hidden{
				opacity:0;
				transition: opacity 0.25s;
			}
		}
		
	}
}
div.punch-card{
	user-select:none;
	z-index:30;
	filter:drop-shadow(0.25em 0.25em 0.125em rgba(0,0,0,0.5));
	margin-right:1em;
	margin-bottom:1em;
	display:inline-block;
	position:relative;

	width: 1200 * $scale;
	height: 1900 * $scale;
	
	background-image:url(../images/punch-cards/front.png);
	background-repeat:no-repeat;
	background-color:transparent;
	background-size: contain;
	
	opacity:1;
	transition:opacity 0.5s;
	&.hidden{
		opacity:0;
		transition: opacity 0.5s;
	}
	
	&.interactive{
		div.patches{
			div{
				cursor:pointer;
				&:hover{
					opacity:0.5;
				}
				&.punched:hover{
					opacity:0.25;
				}
			}
		}
	}

	/* -- PATCHES -- */
	div.patches{
		top: 1072 * $scale;
		left: 97 * $scale;
		position:absolute;
		
		div{
			display:inline-block;
			margin-right: 8 * $scale;
			width: 241 * $scale;
			height: 271 * $scale;
			background-size:contain;
			background-color:transparent;
			background-repeat: no-repeat;
			&.punched{
				opacity:0;
			}

		}
		div:nth-child(1){
			background-image:url(../images/punch-cards/front-patch-1.png);			
		}
		div:nth-child(2){
			background-image:url(../images/punch-cards/front-patch-2.png);			
		}
		div:nth-child(3){
			background-image:url(../images/punch-cards/front-patch-3.png);			
		}
		div:nth-child(4){
			background-image:url(../images/punch-cards/front-patch-4.png);			
		}

	}
	
	
	
	
	/*-- DOTS -- */
	div.dots{
		position:absolute;
		top:-192 * $scale;
		left:170 * $scale;
		width:100%;
		height:60%;
		
		display:flex;
		flex-direction:row;
		div.column{
			
			display:flex;
			flex-direction:column-reverse;
			justify-content:flex-start;
			
			margin-right:180 * $scale;
			
			div{
				width: 80 * $scale;
				height: 80 * $scale;
				margin-bottom: 25 * $scale;

				background-image:url(../images/punch-cards/dot-undotted.png);
				background-color:transparent;
				background-size:cover;
				background-repeat:no-repeat;
			
			}
			$speed: 0.1s;
			div:nth-child(1){ transition-delay:$speed * 0;}
			div:nth-child(2){ transition-delay:$speed * 1;}
			div:nth-child(3){ transition-delay:$speed * 2;}
			div:nth-child(4){ transition-delay:$speed * 3;}
			div:nth-child(5){ transition-delay:$speed * 4;}
			div:nth-child(6){ transition-delay:$speed * 5;}
			div:nth-child(7){ transition-delay:$speed * 6;}
			div:nth-child(8){ transition-delay:$speed * 7;}
			
			&.punched{
				div{
					background-image:url(../images/punch-cards/dot-dotted.png);					
				}
				
				div:nth-child(1){ transition-delay:$speed * 0;}
				div:nth-child(2){ transition-delay:$speed * 1;}
				div:nth-child(3){ transition-delay:$speed * 2;}
				div:nth-child(4){ transition-delay:$speed * 3;}
				div:nth-child(5){ transition-delay:$speed * 4;}
				div:nth-child(6){ transition-delay:$speed * 5;}
				div:nth-child(7){ transition-delay:$speed * 6;}
				div:nth-child(8){ transition-delay:$speed * 7;}
			}
		}
		
		
	}
	
	&.flipped{
		background-image: url(../images/punch-cards/back.png);
		div.patches{
		
			div:nth-child(1){
				background-image:url(../images/punch-cards/back-patch-1.png);			
			}
			div:nth-child(2){
				background-image:url(../images/punch-cards/back-patch-2.png);			
			}
			div:nth-child(3){
				background-image:url(../images/punch-cards/back-patch-3.png);			
			}
			div:nth-child(4){
				background-image:url(../images/punch-cards/back-patch-4.png);			
			}		
		}
		div.dots{
			display:none
			
		}
	}
	
	div.count{
		position:relative;
		top:1450 * $scale;
		font-size:100%;
	}
	
	/* Binary Counter */
	div.counters{
		position:relative;
		top: 1450 * $scale;
		div{
			height:200 * $scale;
		}
		div.binary-counter{
			div{
				display:inline-block;
				text-align:center;
				width: 260 * $scale;
			}
		}
		
		div.dot-counter{
			display:inline-block;
			div{
				display:inline-block;
				text-align:center;
				width: 160 * $scale;
			}
			div.plus{
				color: #808080;
				font-size:75%;
			}
		}
		
		div.value-indicator{
			display:inline-block;
			div{
				display:inline-block;
				text-align:center;
				width: 260 * $scale;
			}
			div.equals{
				color: #808080;
				font-size:75%;
				width: 160 * $scale;
				text-align:right;
			}
		}
	}
	
	

	/* Correct / incorrect indicators */
	
	&:before{
		content:'';
		left:0;
		top:0;
		width:0%;
		height:95%;
		transition: width 0.5s;
		z-index:-1;
	}	
	&.incorrect:before{
		content:'';
		position:absolute;
		left:0;
		top:0;
		width:95%;
		height:95%;
		background-image:url(../images/punch-cards/incorrect.png);
		background-size:cover;
		background-repeat:no-repeat;
		z-index:40;
		
		transition: width 0.5s;
		background-repeat:no-repeat;
	}

	&.correct:before{
		content:'';
		position:absolute;
		left:0;
		top:0;
		width:95%;
		height:95%;
		background-image:url(../images/punch-cards/correct.png);
		background-size:cover;
		transition: width 0.5s;
		background-repeat:no-repeat;
		
		z-index:40;
	}

}


div.punch-card-challenge-question{
	
	display:flex;
	justify-content:center;
	div.button-holder{
		align-self:center;
	}
}
div.results{
	div.body{
		div.result-comment{
			display:none;
		}
	}
}
