
/*

	97, 1072
	Patch #1 -	99, 		1068			08.200%,		73.655%
	Patch #2 - 	335, 	1104			27.917%		76.138%
	Patch #3 - 	595, 	1050			49.583%		72.414%
	Patch #4 - 	833, 	1121			69.417%		77.310%
	
*/


div.punch-card{
	position:relative;
	$scale: 0.25 * 0.0625em;

	width: 1200 * $scale;
	height: 1450 * $scale;
	
	background-image:url(../images/punch-cards/front.png);
	background-repeat:no-repeat;
	background-color:transparent;
	background-size: contain;
	

	div.patches{
		top: 1072 * $scale;
		left: 97 * $scale;
		position:absolute;
		div{
			display:inline-block;
			margin-right: 8 * $scale;
			width: 241 * $scale;
			height: 271 * $scale;
			background-size:contain;
			background-color:transparent;
			background-repeat: no-repeat;
			
			cursor:pointer;
		}
		div:nth-child(1){
			background-image:url(../images/punch-cards/front-patch-1.png);			
		}
		div:nth-child(2){
			background-image:url(../images/punch-cards/front-patch-2.png);			
		}
		div:nth-child(3){
			background-image:url(../images/punch-cards/front-patch-3.png);			
		}
		div:nth-child(4){
			background-image:url(../images/punch-cards/front-patch-4.png);			
		}
		div.punched{
			opacity:0;
		}
	}
	
	
	&.flipped{
		background-image: url(../images/punch-cards/back.png);
		div.patches{
			div:nth-child(1){
				background-image:url(../images/punch-cards/back-patch-1.png);			
			}
			div:nth-child(2){
				background-image:url(../images/punch-cards/back-patch-2.png);			
			}
			div:nth-child(3){
				background-image:url(../images/punch-cards/back-patch-3.png);			
			}
			div:nth-child(4){
				background-image:url(../images/punch-cards/back-patch-4.png);			
			}		
		}
	}
}
