
/* COLOUR PALETTE */
$gray1: #595959;
$gray2: #c0c0c0;
$gray3: #808080;
$gold1: #f8c972;

$purple1: #832fda;
$white1: #fcfcfc;
$white2: #808080;
$red1: #d12140;

$speech1: #fcfcf0;
$speech2: #f0fcf0;
$speech3: #fcf0f0;



@mixin center{
	max-width: 82em;
	margin:auto;
}

/* ANIMATION SETTINGS */
$header-transition-duration: 0.33s;
$header-transition-type: ease-out;



/* IMPORTS */
@import 'gradients';
@import 'content';
@import 'top-nav';



/* DOCUMENT */

body {
	font-family: 'IM Fell English';
	background:black;
	margin:0;
	padding:0;	
	color:$white1;
}

header{
	@include center;
	
	img.banner{
		display:block;
		width:100%;
		margin:0;
	}
}

main{
	background:url(../images/wallpaper1.png) repeat;
	background-size:8em;
	position:relative;
	margin-bottom:1em;
	
	min-height:10em;
	hr.top{
		@include shadow-gradient-top();
		height:3em;
		position:absolute;
		width:100%;		
		z-index:0;
		margin:0;
		border:none;
	
	}
	hr.bottom{
		@include shadow-gradient-bottom();		
		height:2.5em;
		margin:0;
		position:absolute;
		bottom:0;
		width:100%;		
		z-index:0;	
		border:none;
		
	}
	div.content{
		@include center();
		padding-top:2em;
		padding-bottom:4em;
		
		position:relative;
		z-index:100em;
		
		nav.breadcrumb{
			position:relative;
			margin-bottom:2em;
			a{
				
				color:$gold1;
				text-decoration:none;
				&:visited{
				
				color:$gold1;
				}
				&:hover{
					text-decoration:underline;
				}
			}
			
			.seperator{
				margin-left:0.25em;
				margin-right:0.25em;
				color:$gold1;
			}
			z-index:100;
		}

	}
}

footer{
	@include center;
	nav{
		text-align:center;	
		line-height:200%;
		a{
			color:$white1;
			margin-left:2em;
			padding-left:2em;
			border-left:1px solid $white2;		
		}
		a:first-child{
			margin-left:0;
			border-left:0;
		}
		margin-right:2em;
		
		
	}
	text-align:center;
	color:$white2;
	margin-bottom:1em;
	
	.partners{
		margin-top:1em;
		margin-left:2em;
		max-width:25em;
		text-align:left;
		
	}
	
	img{
		height:2em;
		margin-right:1em;
		margin-bottom:0.5em;
	}	
	
}







/* BOX NAVIGATION */
nav.box-navigation{
	display:flex;
	flex-wrap:wrap;
	justify-content:center;
	a{
		z-index:10;
		background:$white1;
		margin:0 1em 1em 0;
		padding:0.5em;
		position:relative;
		color: $red1;
		text-decoration:none;
		font-size:2em;
		
		@include drop-shadow();
		
		&:hover{
			text-decoration:underline;
			
		}
		img.category{
			position:absolute;
			right:0.5em;
			top:0.5em;
			height:2em;
			z-index:20;
		}
		img.banner{
			display:block;
			height:9em;
		}
	}
}
