
/* COLOUR PALETTE */
$gray1: #595959;
$gray2: #c0c0c0;
$gray3: #808080;
$purple1: #832fda;
$white1: #fcfcfc;
$white2: #808080;
$red1: #d12140;
$gold1: #fcfcc0;

$speech1: #fcfcf0;
$speech2: #f0fcf0;
$speech3: #fcf0f0;


/* ANIMATION SETTINGS */
$header-transition-duration: 0.25s;
$header-transition-type: ease-out;

$sub-nav-open-duration: 0.1s;
$sub-nav-transition-type: ease-in;


/* IMPORTS */
@import 'gradients';
@import 'content';
@import 'top-nav';



/* DOCUMENT */

body {
	font-family: "IM Fell English";
	background:black;
	margin:0;
	padding:0;	
	color:$white1;
}


.triangle-isosceles {
  position:relative;
  padding:15px;
  margin:1em 0 3em;
  color:#000;
  background:#f3961c; /* default background for browsers without gradient support */
  /* css3 */
  background:-webkit-gradient(linear, 0 0, 0 100%, from(#f9d835), to(#f3961c));
  background:-moz-linear-gradient(#f9d835, #f3961c);
  background:-o-linear-gradient(#f9d835, #f3961c);
  background:linear-gradient(#f9d835, #f3961c);
  -webkit-border-radius:10px;
  -moz-border-radius:10px;
  border-radius:10px;
}


/* Special elements and buttons */

img.amazon-button{
	height:3em;
}






/* SCROLLABLE AREA */
div.wrapper{
	display:flex;
	justify-content:center;
}
div#header-spacer{
	@include white-gradient();
}

.textured-area{
	background:url(../images/wallpaper1.png) repeat;
	background-size:12.5%;
	padding-bottom:1em;
	position:relative;

}
div#scroll-area{
	z-index:0;
	max-width:82rem;
	width:100%;
	position:relative;
	

	div.textured-area{
		div.background-gradient-top{
			
			@include shadow-gradient-top();
			height:3em;
			position:absolute;
			width:100%;		
			z-index:0;
		}
		div.background-gradient-bottom{
		
			@include shadow-gradient-bottom();
			
			height:2.5em;
			position:absolute;
			bottom:0;
			width:100%;		
			z-index:0;
		}
		nav{
			padding:1.5em;
			z-index:2;
		}
		nav.breadcrumb{
			position:relative;
			padding:1.5em;
			padding-bottom:0;
			font-size:0.75em;
			a{
				
				color:$white1;
				&:visited{
					color:$white1;
				}
				&:hover{
					text-shadow:0 0 1em $white1;
				}
			}
			
			.seperator{
				margin-left:0.25em;
				margin-right:0.25em;
				color:$white1;
			}
			z-index:100;
		}

	}

	footer{
		text-align:center;
		color:$white2;
		margin-bottom:1em;
		
		.partners{
			margin-top:2em;
			margin-left:2em;
			max-width:25em;
			text-align:left;
			
		}
		
		img{
			height:2em;
			margin-right:1em;
			margin-bottom:0.5em;
		}
	}	
	
	div.content{

		position:relative;
		z-index:10;
		margin:1em;
		padding:2em;
		padding-top:0.5em;
		background:$white1;
		color:$gray1;
		@include drop-shadow();
	}
}





/* FOOTER NAV */
nav.footer{
	text-align:center;	
	line-height:200%;
	a{
		color:$white1;
		margin-left:2em;
		padding-left:2em;
		border-left:1px solid $white2;		
	}
	a:first-child{
		margin-left:0;
		border-left:0;
	}
	margin-right:2em;
}

/* CONTENT HEADER */
div.header-body{
	background:white url(../images/banners/index.png) no-repeat;
	background-size: 100%;
	height:369px;
}
img.banner{
	width:100%;
	margin-bottom:0;
	display:block;
}



/* BOX-NAV */
div#scroll-area{
	
	nav.box-navigation{
		display:flex;
		flex-wrap:wrap;
		justify-content:center;
		a{
			z-index:10;
			background:$white1;
			margin:0 1em 1em 0;
			padding:0.5em;
			position:relative;
			color: $red1;
			text-decoration:none;
			font-size:2em;
			
			@include drop-shadow();
			
			&:hover{
				text-decoration:underline;
				
			}
			img.category{
				position:absolute;
				right:0.5em;
				top:0.5em;
				height:2em;
				z-index:20;
			}
			img.banner{
				display:block;
				height:9em;
			}
		}
	}
}



/* RESPONSIVENESS */

 /* PC / high-res */
@media (max-width:82em){
	/* TOP NAV */
	div#main-menu{
		font-size:1.8vw;
	}
	
	/* BOX NAV */
	div#scroll-area > nav.box-navigation > a {
		font-size:2.4vw;
	}

}

/* Tablets / half width */
@media (max-width:55em){

	/* TOP NAV */
	div#main-menu{
		font-size:1em;		
	}	
	nav.main{
		padding-right:2em;	
	}
	
	
	/* BOX NAV */
	div#scroll-area > div.textured-area > nav.box-navigation {
		flex-direction:column;
		a {
			font-size:1.5em;
			img.banner{		
				width:100%;
				height:auto;
			}
		}
	}
	
}

/* Smart phones / tall */
@media (max-width:25em){

	/* TOP NAV */
	nav.main{
		flex-direction:column;
		text-align:right;		
		display:none;
		
		
	}
	nav.submenu{	
		flex-direction:column;
		text-align:right;
		height:auto;
		overflow:show;
	}
	div#scroll-area > div.textured-area > div.header-body{
		display:none;
	}
	
	/* BOX NAV */
	div#scroll-area > nav.box-navigation > a {
		text-align:center;
		
	}
	
	
	
}







