/* COLOUR PALETTE */
$gray1: #595959;
$gray2: #c0c0c0;
$gray3: #808080;
$purple1: #832fda;
$white1: #fcfcfc;
$white2: #808080;
$red1: #d12140;


/* GRADIENTS & Common Mixings */
@mixin white-gradient(){
		
		/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f7f7f7+0,fcfcfc+25 */
		background: rgb(247,247,247); /* Old browsers */
		background: -moz-linear-gradient(left, rgba(247,247,247,1) 0%, rgba(252,252,252,1) 25%); /* FF3.6-15 */
		background: -webkit-linear-gradient(left, rgba(247,247,247,1) 0%,rgba(252,252,252,1) 25%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to right, rgba(247,247,247,1) 0%,rgba(252,252,252,1) 25%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f7f7', endColorstr='#fcfcfc',GradientType=1 ); /* IE6-9 */

}

@mixin shadow-gradient-top(){
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0.65+0,0+100;Neutral+Density */
	background: -moz-linear-gradient(top, rgba(0,0,0,0.60) 0%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(0,0,0,0.60) 0%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(0,0,0,0.60) 0%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#60000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
}

@mixin shadow-gradient-bottom(){
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0+16,1+100 */
	background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 16%, rgba(0,0,0,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 16%,rgba(0,0,0,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 16%,rgba(0,0,0,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
}

@mixin drop-shadow(){
	box-shadow:0.3em 0.3em 1em rgba(0,0,0,0.5);
}

/* ANIMATION SETTINGS */
$header-transition-duration: 0.25s;
$header-transition-type: ease-out;


/* DOCUMENT */

body {
	font-family: "IM Fell English";
	background:black;
	margin:0;
	padding:0;	
	color:$white1;
}


/* TOP MENU */
div#main-menu{
	z-index:100;
	width:100%;
	position:fixed;
	background:black;
	display:flex;
	justify-content:center;
	font-size:1.5em;

	div.wrapper{
		display:block;
		position:relative;
		
		img:first-of-type{
			$t: $header-transition-duration;
			transition: height $t, top $t, left $t;
			transition-timing-function: linear;			
		
			position:absolute;
			top:1em;
			left:2em;
			height:2.5em;
			
			
		}
		width:82rem;
		@include white-gradient();

		nav.main{
			$t: $header-transition-duration;
			transition: margin $t;
			transition-timing-function: linear;			
		
		
			display:flex;
			justify-content:flex-end;
			flex-wrap:wrap;
			margin:1.5em 1.5em 1.5em 6em;
			
			a {
				display:inline-block;
				color:$gray1;
				text-decoration:none;
				white-space:nowrap;
				&:hover{
					color:$purple1;
					text-decoration:underline;
				}
				margin-left:2em;
			}
		}
		
		img.scrolled{
			$t: $header-transition-duration;
			transition: height $t, top $t, left $t;
			transition-timing-function: linear;			
			
			top:0.5em;
			left:1em;
			height:1.25em;		
		}
		
		nav.scrolled{
			margin:0.5em 0em 0.5em 6em;
			$t: $header-transition-duration;
			transition: margin $t;
			transition-timing-function: linear;
		}
		
		nav.submenu{
			transition: height 0.25s;
			height:0;
			overflow:hidden;
		}
		nav.open{
			transition: height 0.25s;
			height:1em;		
		}
		
	}
}





/* SCROLLABLE AREA */
div.wrapper{
	display:flex;
	justify-content:center;
}
div#header-spacer{
	@include white-gradient();
}

.textured-area{
	background:url(../images/wallpaper1.png) repeat;
	background-size:12.5%;
	padding-bottom:1em;
	position:relative;

}
div#scroll-area{
	z-index:0;
	max-width:82rem;
	width:100%;
	position:relative;
	div.textured-area{
		div.background-gradient-top{
			
			@include shadow-gradient-top();
			height:3em;
			position:absolute;
			width:100%;		
			z-index:0;
		}
		div.background-gradient-bottom{
		
			@include shadow-gradient-bottom();
			
			height:2.5em;
			position:absolute;
			bottom:0;
			width:100%;		
			z-index:0;
		}
		nav{
			padding:1.5em;
			z-index:2;
		}

	}

	footer{
		text-align:center;
		color:$white2;
		margin-bottom:1em;
	}	
	
	div.content{

		position:relative;
		z-index:10;
		margin:1em;
		padding:2em;
		padding-top:0.5em;
		background:$white1;
		color:$gray1;
		@include drop-shadow();
	}
}

/* CONTENT STYLES */
div.content{

	font-size:1.33em;
	h1,h2,h3,h4,h5{
		margin-bottom:0.5em;
	}
	h1,h2{
		display:block;
		border-bottom:1px solid $gray2;
	}

	h1{
		font-size:2.25em;
	}
	h2{
		font-size:2.00em;
	}
	h3{
		font-size:1.6em;
		color:$gray3;
	}
	h4{
		font-size:1.2em;
		color:$white2;
	}
}



/* FOOTER NAV */
nav.footer{
	text-align:center;
	a{
		color:$white1;
		margin-left:2em;
		padding-left:2em;
		border-left:1px solid $white2;
		
	}
	a:first-child{
		margin-left:0;
		border-left:0;
	}
	margin-right:2em;
}

/* CONTENT HEADER */
div.header-body{
	background:white url(../images/banner.png) no-repeat;
	background-size: 100%;
	height:369px;
}



/* BOX NAVIGATION LINKS */
div#scroll-area{
	
	nav.box-navigation{
		display:flex;
		flex-wrap:wrap;
		a{
			z-index:10;
			background:$white1;
			margin:0 1em 1em 0;
			padding:0.5em;
			position:relative;
			color: $red1;
			text-decoration:none;
			font-size:2em;
			@include drop-shadow();
			
			&:hover{
				text-decoration:underline;
				
			}
			img.category{
				position:absolute;
				right:0.5em;
				top:0.5em;
				height:2em;
				z-index:20;
			}
			img.banner{
				display:block;
				height:10em;
			}
		}
	}
}



/* RESPONSIVENESS */

 /* PC / high-res */
@media (max-width:82em){
	/* TOP NAV */
	div#main-menu{
		font-size:1.8vw;
	}
	
	/* BOX NAV */
	div#scroll-area > nav.box-navigation > a {
		font-size:2.4vw;
	}

}

/* Tablets / half width */
@media (max-width:55em){

	/* TOP NAV */
	div#main-menu{
		font-size:1em;
	}	
	nav.main{
		padding-right:2em;	
	}
	
	
	/* BOX NAV */
	div#scroll-area > div.textured-area > nav.box-navigation {
		flex-direction:column;
		a {
			font-size:1.5em;
			img.banner{		
				width:100%;
				height:auto;
			}
		}
	}
	
}

/* Smart phones / tall */
@media (max-width:25em){

	/* TOP NAV */
	nav.main{
		flex-direction:column;
		text-align:right;		
		display:none;
		
	}
	div#scroll-area > div.textured-area > div.header-body{
		display:none;
	}
	
	/* BOX NAV */
	div#scroll-area > nav.box-navigation > a {
		text-align:center;
		
	}
	
	
	
}





