<!doctype html>
<html>
	<%= partial "head" %>
	<body>
		<div class="wrapper">
			<%= partial "header" %>
			<div id="content">
				<%= yield %>
			</div>
			<%= partial "footer" %>
		</div>
	</body>
</html>
