<div class="cogs">	
	<img 
		data-scroll-animation='{
			"rotate":{
				"speed":	4,
				"rotation":	15.124,
				"teeth":	12
			}
		}'
		src="images/cogs/gold/cog-07.png" 
		style="	
			left:		2.5em;				
			top:		7.375em	"
	/>
	
	<img 
		data-scroll-animation='{
			"rotate":{
				"speed":	-6,
				"teeth":	8
			}
			
		}'
		src="images/cogs/silver/cog-06.png" 
		style="
			left: 		-1em;
			top:		7.5em			
		"
	/>
	
	<img 
		data-scroll-animation='{
			"rotate":{
				"speed":	3.0,
				"teeth":	16
			}
			
		}'
		src="images/cogs/gold/cog-08.png" 
		style="
			left: 	-5em;
			top:	11em;
		"
	/>	
	
	<img 
		data-scroll-animation='{
			"rotate":{
				"speed":	-4,
				"rotation":	15.124,
				"teeth":	12
			}
		}'
		src="images/cogs/silver/cog-09.png" 
		style="
			left: 3.4375em;
			top:	13.75em;
		"
	/>		

	<img 
		data-scroll-animation='{
			"rotate":{
				"speed":	3,
				"teeth":	16
			}
		}'
		src="images/cogs/gold/cog-01.png" 
		style="
			left: 0.875em;
			top:	18.875em;
		"
	/>		

	<img 
		data-scroll-animation='{
			"rotate":{
				"speed":	-6,
				"teeth":	8
			}
			
		}'
		src="images/cogs/silver/cog-02.png" 
		style="
			left: 	-2.0625em;
			top:	20.4375em;
		"
	/>		

	<img 
		data-scroll-animation='{
			"rotate":{
				"speed":-4,
				"teeth":12
			}
		}'
		src="images/cogs/gold/cog-04.png" 
		style="
			left: -0.125em;
			top:	26.125em;
		"
	/>		

	<img 
		data-scroll-animation='{
			"rotate":{
				"speed":4,
				"rotation":16,
				"teeth":12
			}
		}'
		src="images/cogs/gold/cog-07.png" 
		style="
			left: 1.20em;
			top:  30.75em;
		"
	/>		

	<img 
		data-scroll-animation='{
			"rotate":{
				"speed":-4,
				"rotation":15,
				"teeth":12
			}
		}'
		src="images/cogs/silver/cog-09.png" 
		style="
			left: 0.4375em;
			top:	35.25em;
		"
	/>		





	<img 
		data-scroll-animation='{
			"rotate":{
				"speed":-10,
				"rotation":0,
				"teeth":8	
			}		
		}'
		src="images/cogs/silver/cog-02.png" 
		style="
			left: -1.25em;
			top:	42.00em;
		"
	/>		

	<img 
		data-scroll-animation='{
			"rotate":{
				"speed":6.66,
				"rotation":0,
				"teeth":12	
			}		
		}'
		src="images/cogs/gold/cog-03.png" 
		style="
			left: -0.625em;
			top:	44.8125em;
		"
	/>		
	<img 
		data-scroll-animation='{
			"rotate":{
				"speed":-6.66,
				"rotation":15,
				"teeth":12
			}
		}'
		src="images/cogs/gold/cog-05.png" 
		style="
			left:2.5625em;
			top:	48.25em;
		"
	/>		

	<img 
		data-scroll-animation='{
			"rotate":{
				"speed":10,
				"rotation":0,
				"teeth":8	
			}		
		}'
		src="images/cogs/silver/cog-06.png" 
		style="
			left: -0.5em;
			top:	52em;
		"
	/>	
	<img 
		data-scroll-animation='{
			"rotate":{
				"speed":-5,
				"rotation":-10,
				"teeth":16
			}
		}'
		src="images/cogs/gold/cog-08.png" 
		style="
			left:0.8125em;
			top:	54em;
		"
	/>	
	

	<!-- RIGHT SIDE !-->
	<img 
		data-scroll-animation='{
			"rotate":{
				"speed":	4,
				"rotation":	15.124,
				"teeth":	12
			}
		}'
		src="images/cogs/gold/cog-07.png" 
		style="	
			right:		2.5em;				
			top:		7.375em	"
	/>
	
	<img 
		data-scroll-animation='{
			"rotate":{
				"speed":	-6,
				"teeth":	8
			}
			
		}'
		src="images/cogs/silver/cog-06.png" 
		style="
			right: 		-1em;
			top:		7.5em			
		"
	/>
	
	<img 
		data-scroll-animation='{
			"rotate":{
				"speed":	3,
				"teeth":	16
			}
			
		}'
		src="images/cogs/gold/cog-08.png" 
		style="
			right: 	-5em;
			top:	11em;
		"
	/>	
	
	<img 
		data-scroll-animation='{
			"rotate":{
				"speed":	-4,
				"rotation":	15.124,
				"teeth":	12
			}
		}'
		src="images/cogs/silver/cog-09.png" 
		style="
			right: 3.4375em;
			top:	13.75em;
		"
	/>		

	<img 
		data-scroll-animation='{
			"rotate":{
				"speed":	3,
				"teeth":	16
			}
		}'
		src="images/cogs/gold/cog-01.png" 
		style="
			right: 0.875em;
			top:	18.875em;
		"
	/>		

	<img 
		data-scroll-animation='{
			"rotate":{
				"speed":	-6,
				"teeth":	8
			}
			
		}'
		src="images/cogs/silver/cog-02.png" 
		style="
			right: 	-2.0625em;
			top:	20.4375em;
		"
	/>		

	<img 
		data-scroll-animation='{
			"rotate":{
				"speed":-4,
				"rotation":12,
				"teeth":12
			}
		}'
		src="images/cogs/gold/cog-04.png" 
		style="
			right: -0.125em;
			top:	26.125em;
		"
	/>		

	<img 
		data-scroll-animation='{
			"rotate":{
				"speed":4,
				"rotation":0,
				"teeth":12
			}
		}'
		src="images/cogs/gold/cog-07.png" 
		style="
			right: 1.20em;
			top:  30.75em;
		"
	/>		

	<img 
		data-scroll-animation='{
			"rotate":{
				"speed":-4,
				"rotation":15,
				"teeth":12
			}
		}'
		src="images/cogs/silver/cog-09.png" 
		style="
			right: 0.4375em;
			top:	35.25em;
		"
	/>		





	<img 
		data-scroll-animation='{
			"rotate":{
				"speed":-10,
				"rotation":0,
				"teeth":8	
			}		
		}'
		src="images/cogs/silver/cog-02.png" 
		style="
			right: -1.25em;
			top:	42.00em;
		"
	/>		

	<img 
		data-scroll-animation='{
			"rotate":{
				"speed":6.66,
				"rotation":0,
				"teeth":12
			}			
		}'
		src="images/cogs/gold/cog-03.png" 
		style="
			right: -0.625em;
			top:	44.8125em;
		"
	/>		
	<img 
		data-scroll-animation='{
			"rotate":{
				"speed":-6.66,
				"rotation":15,
				"teeth":12
			}
		}'
		src="images/cogs/gold/cog-05.png" 
		style="
			right:2.5625em;
			top:	48.25em;
		"
	/>		

	<img 
		data-scroll-animation='{
			"rotate":{
				"speed":10,
				"rotation":0,
				"teeth":8
			}			
		}'
		src="images/cogs/silver/cog-06.png" 
		style="
			right: -0.5em;
			top:	52em;
		"
	/>	
	<img 
		data-scroll-animation='{
			"rotate":{
				"speed":-5,
				"rotation":-10,
				"teeth":16
			}
		}'
		src="images/cogs/gold/cog-08.png" 
		style="
			right:0.8125em;
			top:	54em;
		"
	/>	
		

</div>