<footer >
	<div class="inner">
		<%= nav("menus/footer.yaml","footer") %>
		<div class="partners">	
			Developed with the participation of Creative BC, the Province Of British Columbia and the British Columbia Arts Council<br/>
			<%= image_tag("images/creative-bc-logo.svg") %>
			<%= image_tag("images/arts-council-logo.png") %>
			<%= image_tag("images/hololabs-logo.png") %>
		</div>	
		<div class="copyright">
			&copy; Copyright @ Hololabs Studio Inc., 2017<br/>
		</div>
	</div>
<footer>