<footer>
	<div class="inner">
		<nav class="footer">
		  <a href="/about.html">Home</a>
		  <a href="/about.html">About</a>
		  <a href="/parents-and-educators.html">Parents & Educators</a>
		  <a href="/the-books.html">Books</a>
		</nav>

		<div class="partners">
			Website developed with the participation of Creative BC, the Province Of British Columbia and the British Columbia Arts Council<br/>
			<%= image_tag("/images/logos/logo-creative-bc.svg") %>
			<%= image_tag("/images/logos/logo-bc-arts-council.png") %>
		</div>
		<div class="partners">
			Videogame series developed with financial support from the Canada Media Fund<br/>
			<%= image_tag("/images/logos/logo-cmf.png") %>
		</div>
		<div class="copyright">
			Copyright &copy; Hololabs Studio Inc., 2018<br/>
			<%= image_tag("/images/logos/logo-hololabs.png") %>
		</div>
	</div>
</footer>
