<a id="top"></a>
<div id="main-menu" class="scrolling-changes">
	<div class="background"></div>
	<div class="wrapper">	
		<%= link_to(image_tag("wax_seal.png", :alt=>"Home"),"index.html")%>		
		<%= nav( "menus/header.yaml","main") %>
	</div>
</div>
<a class="hamburger" href="#top"><img src="images/hamburgerMenu.png"/></a>