<div id="main-menu">
	<div class="wrapper">	
		<%= link_to(image_tag("wax_seal.png", :class=>"scrolling-changes", :alt=>"Home"),"index.html")%>		
		<%= nav( "menus/header.yaml","main scrolling-changes") %>
	</div>
</div>