<a id="top"></a>
<div id="main-menu" class="scrolling-changes">
  <div class="background"></div>
  <div class="wrapper">
    <a href="/" class="nav-home-image"><img src="/images/wax_seal.png" alt="Home" title="Home" /></a>
    <nav class="main">
      <a href="/" data-subnav="home" class="nav-home-text">Home</a>
      <a href="/" data-subnav="home">Home</a>
      <a href="/#activities" data-subnav="activities">Activities</a>
      <a href="/about.html" data-subnav="about">About</a>
      <a href="/the-books.html" data-subnav="books">Books</a>
    </nav>
  </div>
</div><a id="hamburger" class="hamburger" href="#top">
  <img src="images/hamburgerMenu.png"/>
</a>
