<header
	data-scroll-animation='{
		"parallax-y":{
			"speed":0.1
		}
	}'
>
	<div 
		class="inner" 
		data-scroll-animation='{
			"fade-out":{
				"start":18,
				"end":28,
				"min":1,
				"max":0
			}

		}',
		
		data-preserve-aspect="true" 
		data-preserve-aspect-options='{
			"width":1895,
			"height":800
		}'
	>
	<img 
		src="images/index-banner/sky.png"
		class="layer" 
		data-scroll-animation='{
			"parallax-y":{
				"speed":-0.9
			}
		}'
		style="
			filter: blur(0.1em);
		"				
	/>
			
		<img 
			src="images/index-banner/city.png"
			class="layer" 
			data-scroll-animation='{
				"parallax-y":{
					"speed":-0.7,
					"offset":0
				}
			}'
			style="
				filter: blur(0.05em);
			"				

		/>
		<img 
			src="images/index-banner/roof.png"
			class="layer" 
			data-scroll-animation='{
				"parallax-y":{
					"speed":-0.4,
					"offset":0
				}
			}'
			style="
				filter: blur(0.025em);
			"				
		/>
		<img 
			src="images/index-banner/balloon.png"
			class="layer" 
			data-scroll-animation='{
				"parallax-y":{
					"speed":0.4
				}
			}',
			style="
				filter: blur(0.075em);
			"

		/>		
		<div 			
			class="layer ada-and-mary" 
			data-scroll-animation='{
				"parallax-y":{
					"speed":-5,
					"offset":100,
					"mode":"background-bottom"
				}
			}'
		></div>
		<!--
		<div 			
			class="layer ada-and-mary" 
			data-scroll-animation='{
				"parallax-y":{
					"speed":-1,
					"offset":-5.75,
					"mode":"bottom"
				}
			}'

		></div>!-->		

		<div class="wordmark-container">
			<img 
				src="images/wordmark.png"
				class="wordmark"
				alt="Wollstonecraft"
				data-scroll-animation='{
					"fade-out":{
						"start":-6,
						"end":3,
						"min":1,
						"max":0
					}
				}'
			/>
			<div 
				class="slogan"
				data-scroll-animation='{
					"fade-out":{
						"start":-4,
						"end":-1,
						"min":1,
						"max":0
					}						
				}'
			>					
				<%= globals["slogan"] %>
			</div>
		</div>
		

	</div>
	
	
	<!--
	<div id="index-banner" class="gradient" >
		
		
		
		
	</div>
	
	!-->
</header>