---
title: About the Wollstonecraft Detective Agency
---

<%= stylesheet_link_tag("about") %>

<h1>About the Wollstonecraft Detective Agency</h1>

<article class="about">

  <div class="video centered">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/HGo5PrvLuwM?rel=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
  </div>

  <div class="intro">
    <p>The <i>Wollstonecraft Detective Agency</i> is an exploration-based puzzle adventure game set in the early 19th century that features Ada
      Lovelace, the worlds first computer programmer, and Mary Shelley, the worlds first science fiction author. Based on the acclaimed book series by
      Jordan Stratford, the game celebrates famous female role models and promotes the learning of science, technology, engineering and mathematics
      (STEM). Distributed as an episodic series for tablets, smartphones, and PC, players of the game help Ada and Mary through a series of puzzles,
      games, and logic challenges in order to solve mysteries for their detective agency. A companion book, the Wollstonecraft <i>Field Guide</i>,
      provides additional content related to the series and also acts as the vehicle for discovering extra puzzles and activities through the use of
      augmented reality. Players can point their devices camera at specific pages in the book to reveal additional 3D puzzles that pop out of the page
      and provide alternative ways of progressing through the adventure.

    <p>In each episode, the girls encounter a famous female scientist and are tasked with solving a case related to that scientists work. The sleuths
      explore the city to discover clues, find lost items, unravel the mystery, and often assist in scientific discoveries. Players learn facts about
      a fascinating time in history, at the tail end of the industrial revolution when numerous technological innovations occurred. They meet Caroline
      Herschel (one of the first recognized female astronomers), Charles Babbage (creator of the first mechanical computer), Mary Anning
      (Palaeontologist), Charles Dickens (famous author), and many other fascinating characters.

    <p>With rich dialogue and an engaging storyline, players get to join Ada and Marys clandestine detective agency and help the girls solve each
      mystery. This involves cracking codes and mastering puzzles in order for the story to unfold, using logic, some simple programming, and
      elementary physics, as well as trial and error. The Rube-Goldberg-inspired world of Wollstonecraft is frequently whimsical and curious, funny
      and playful, odd and antique.

    <p>With a dark, sooty, and crunchy aesthetic, the game provides a glimpse of the Regency era. Historical locations come to life as animated,
      interactive 3D scenes with a quirky and off-angle steampunk feel. The adventure transports the player to the rooftops of London, underground
      crypts, libraries, dockyards, and high above the streets in Adas hot air balloon. Each location can be explored with point-and-click style
      interaction, with hidden objects to discover, and puzzles to solve. Players use touch gestures to guide their characters to pick up items, pull
      levers, and throw switches just to see what happens. Secret codes, diagrams, illustrations, and passwords are found along the way, which can be
      referenced in the Wollstonecraft <i>Field Guide</i>, revealed using augmented reality, and stored in the teams logbook for later use in the
      game.

    <p>The <i>Wollstonecraft Detective Agency</i> inspires children, ages 6 to 17, to explore science and discovery through STEM-based educational
      themes. The evolving narrative is filled with humor, adventure, and a strong female cast. Wollstonecraft is a premium experience for parents,
      educators, and kids of all ages to enjoy.
  </div>

</article>

