---
title: About the Wollstonecraft Detective Agency
---

<%= stylesheet_link_tag("about") %>



<h1>The Wollstonecraft Detective Agency</h1>

  <div class="subtitle">
	<p><i>A 19th century girl-powered adventure series<br class="hideOnMobile">
	featuring Ada Lovelace, the world's first computer programmer,<br class="hideOnMobile">
	and Mary Shelley, the world's first science fiction author</i></p>
  </div>
  
<article class="about">

  <div class="video centered">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/HGo5PrvLuwM?rel=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
  </div>

  <div class="intro">
    <p>The Wollstonecraft Detective Agency began as a book series in 2012 with a record-setting Kickstarter campaign for children’s literature.
      Supporters rallied to the series’ values that celebrated girls in STEM (science, technology, engineering and math) and provided real-life
      historic role models. Written by <a href="http://www.jordanstratfordbooks.com" target="_blank">Jordan Stratford</a>, the series has
      subsequently published 4 books with Penguin Random House, and more are on the way!</p>
    
    <p>Stratford has now partnered with <a href="http://www.hololabs.org" target="_blank">Hololabs</a> to create an exploration-based puzzle adventure game
      to accompany the book series, which will launch publicly in 2019. The game features the same wonderful cast of characters, a multitude of puzzles,
      and of course, that same intrigue and adventure of the book series. It also features new augmented reality (AR) content that mix the printed and
      digital aspects of the series to reveal hidden puzzles, secret side quests, and many other creative activities. Players will be able to point their
      devices at specific printed material (in books and otherwise) to reveal additional 3D puzzles that pop out of the pages.</p>
    
    <p>The game and book series are full of rich dialogue and a engaging storylines, where players get to join Ada and Mary's clandestine detective
      agency and help the girls solve mysteries. This involves cracking codes and mastering puzzles in order for the story to unfold, using logic,
      some simple programming, elementary physics, as well as trial and error. The Rube-Goldberg-inspired world of Wollstonecraft is frequently
      whimsical and curious, funny and playful, odd and antique.</p>
      
	<p>The Wollstonecraft team will encounter famous 19th-century female scientists, and help to solve cases related to their scientific work.
	  Players learn facts about a fascinating time in history, at the tail end of the industrial revolution when numerous technological innovations
      occurred. They meet Caroline Herschel (one of the first recognized female astronomers), Charles Babbage (creator of the first mechanical computer),
      Mary Anning (Palaeontologist), Charles Dickens (famous author), and many other fascinating characters.</p>

    <p>With a dark, sooty, and crunchy aesthetic, the series provides a glimpse of the Regency era. Historical locations come to life as animated,
      interactive scenes with a quirky and off-angle steampunk feel. The adventure transports the player to the rooftops of London, underground
      crypts, libraries, dockyards, and high above the streets in Ada's hot air balloon. Each location can be explored with point-and-click style
      interaction, with hidden objects to discover, and puzzles to solve. Players guide their characters to pick up items, pull
      levers, and throw switches just to see what happens. Secret codes, diagrams, illustrations, and passwords are found along the way.</p>

	<p>Do you want to join the Wollstonecraft Detective Agency?
	  What <a href="/whats-your-detective-style.html">kind of detective</a> are you?
	  Be sure to brush up your programming skills,
	  learn about <a href="/punch-cards.html">punch cards</a>,
	  and test yourself on the <a href="/the-game.html">Byron Lignotractatic Engine (BLE)</a>.
	  <strong>The adventure begins!</strong></p>

  </div>

  <div class="imgContainer">
  	<div class="imgBlock"><img src="/images/content/screenshot-foyer.jpg"></div>
	<div class="imgBlock"><img src="/images/content/screenshot-library.jpg"></div>
	<div class="imgBlock"><img src="/images/content/screenshot-underground-lair.jpg"></div>
  </div>

</article>

