<header data-scroll-animation='{
		"parallax-y":{
			"speed":0.1
		}
	}'>
  <div class="inner" data-scroll-animation='{
			"fade-out":{
				"start":22.5,
				"end":32.5,
				"min":1,
				"max":0

			}

		}' ,

      data-preserve-aspect="true" data-preserve-aspect-options='{
			"width":2968,
			"height":972
		}'>
    <img src="images/index-banner/sky.jpg" class="layer" data-scroll-animation='{
			"parallax-y":{
				"speed":-0.9
			}
		}' style="
		"/>

    <img src="images/index-banner/city_reduced.png" class="layer" data-scroll-animation='{
				"parallax-y":{
					"speed":-0.7,
					"offset":0
				}
			}' style="
			"

    />
    <img src="images/index-banner/balloon.png" class="layer" data-scroll-animation='{
				"parallax-y":{
					"speed":-0.60
				}
			}' , style="
			"

    />
    <img src="images/index-banner/roof_medium.png" class="layer" data-scroll-animation='{
				"parallax-y":{
					"speed":-0.4,
					"offset":0
				}
			}' style="
			"/>

    <!--
    <div
      class="layer ada-and-mary"
      data-scroll-animation='{
        "parallax-y":{
          "speed":0,
          "offset":100,
          "mode":"background-bottom"
        }
      }'
    ></div>
    <div
      class="layer ada-and-mary"
      data-scroll-animation='{
        "parallax-y":{
          "speed":-,
          "offset":-5.75,
          "mode":"bottom"
        }
      }'

    ></div>!-->

    <div class="wordmark-container">
      <img src="images/wordmark.png" class="wordmark" alt="Wollstonecraft" data-scroll-animation='{
					"fade-out":{
						"start":-6,
						"end":3,
						"min":1,
						"max":0
					}
				}'/>
      <div class="slogan" data-scroll-animation='{
					"fade-out":{
						"start":-6,
						"end":-1,
						"min":1,
						"max":0
					}
				}'>
        Welcome to the Wollstonecraft Detective Agency!
      </div>

  </div>
</header>
