---
title: Letters from Ada and Mary
breadcrumb: The Agency
category: The Agency
banner: the-agency.png
---

<div class="medium-width centered">
	<%= img("Ada.png","",15) %>
	<div class="letter">
		
		<p>I'm busy, go away.</p>

		<p>You're still here, I see.</p>

		<p>Mary says I am to be niche to you.</p>

		<p>Fine.</p>

		<p>Read the attached file &ldquo;Terror of the Thames&rdquo; carefully as you might be useful later on. I don't know how exactly but Mary does. She's often right about peoplee.</p>

		<p>Don't touch anything.</p>

		<p>All right you can touch things but don't move them around. I have a system.</p>

		<p>How much does a dog weigh, do you reckon? Small dog. Pug-sized. Just wondering.</p>

		<p>That is all</p>

		<p>On the dog - let's compare it to a jar of pickles. Does a pug weigh two jars of pickles? Three? On average, I mean. You don't have to be overly precise. That would be ridiculous. Get back to me on this. URGENT.</p>

		<p>That is really all.</p>

		<p>Best not to mention the dog bit to anyone. Keep that <a href="glossary.html#clandestine">clandestine</a>.</p>

		<p>Are you still here?</p>

		<p class="signature">Ada.</p>
	</div>
	<br/>


	<div class="letter">
		<p>Dear Recruit</p>
		
		<p>I am terribly sorry if Lady Ada came across as ungrateful for your offer of assistance. She is often unsettle by change and reticent with new acquaintances. But I for one am extremely delighted to make your acquaintance and greatly appreciate any assistance you may offer in future. It is a tremendous thing to have friends of like-mind; curious and insightful people. So let me begin, then, with that rather long-winded apology and welcoming thanks.</p>

		<p>Enclosed please find an account of the case of the Terror of the Thames. I trust that this shall inform you of all you need to know regarding our techniques and peculiarities. I feel I should warn you there is a great deal of malevolent milliners, unlikely leviathans, and questionable ballooning, so please do not be overly alarmed.</p>

		<p>I do wonder if you might illuminate something for me - what are all these jars of pickles doing here?</p>

		<p>Thank you very much for your attention to the case at hand, and I do so look forward to our future correspondence.</p>

		<p>Your friend,</p>

		<p class="signature">Mary Godwin</p>
	</div>
	<%= img("Mary.png","",15) %>
</div>