---
title: Parents and Educators
category: Parents & Educators
no-header: true
boxsize: 1x3
---

<%= stylesheet_link_tag("educators") %>

<h1>For Parents and Educators</h1>

<article class="educators">

<p>The Wollstonecraft universe provides diverse opportunities for learning in common core subjects such as math, computer science,
engineering, history, and literacy. Children can explore coordinate grids and solve algebraic problems using binary code with Ada's
BLE machine, interact with the history of the Regency Era, and discover the role that women have played in scientific discovery throughout history.
The guide below describes outlines several such activities to present to children and students as a suplement to the Wollstonecraft book series
and other interactive material.</p>

<!--
<ul>
	<li>Information Pioneers: Ada Lovelace <a href="http://www.vimeo.com/11923950">http://www.vimeo.com/11923950 </a></li>
	<li>Computer Science Unplugged <a href="http://www.CSUnplugged.org/">http://www.CSUnplugged.org/</a>   </li>
	<li>The First 2000 Years of Computing <a href="http://www.computerHistory.org/revolution">http://www.computerHistory.org/revolution</a></li>
	<li>Great Women in Engineering History <a href="http://www.EngineerGirl.org/4356.aspx">http://www.EngineerGirl.org/4356.aspx</a></li>
	<li>Historic Female Scientists and Mathematicians </li>
	<li><a href="http://www.SmithsonianMag.com/science-nature/ten-historic-female-scientists-you-should-know-84028788">http://www.SmithsonianMag.com/science-nature/ten-historic-female-scientists-you-should-know-84028788</a>
	<li><a href="http://www.SmithsonianMag.com/science-nature/five-historic-female-mathematicians-you-should-know-100731927">http://www.SmithsonianMag.com/science-nature/five-historic-female-mathematicians-you-should-know-100731927</a>
</ul>
-->

<h1>Teaching Topics &amp; Exercises</h1>

<div class="columns">

<h3>Role of Women</h3>

<p>The series provides you with a history about the status of women in English society during the Regency Era.
Mary explains to Ada that “young ladies cannot be magistrates, or on the constabulary.”
Why does Ada assume she can do whatever she wants?
What explanation and advice does Mary have for Ada for dealing with the restrictions society places on women?
How is Mary’s thinking affected by the writings of her mother?
What advice would you give someone being treated differently or unfairly because of gender, race, or class?
Discuss how opportunities for women have evolved since the 1800s.</p>

<h3>Friendship</h3>

<p>Since Ada is not really interested in interacting with people, how do she and Mary become friends? What are
the makings of a good friendship, and which elements are present for Mary and Ada? Through Mary, Ada learns to pay more attention
to her own actions and behaviors. How does having a friend like Mary affect how Ada relates to other people? How have the relationships
in this book added to or changed your ideas about friendship?</p>

<h3>Education</h3>

<p>Though a number of characters in the book are children, none of them go to school. What opportunities for learning were available in 1826? To whom
were they available? What does Mary’s attitude about school indicate about the conditions of schools available to her? How do you think a character
like Charles would feel about the opportunity to go to school? The real Mary Wollstonecraft Godwin spoke out for universal education. How would you
defne universal education? Is it something available in today’s society? Without benefit of school or instruction, how does Ada educate herself,
making connections between math, science, language, and her own life?</p>

<h3>Science</h3>

<p>To close the case of the missing acorn pendant, Mary imagines Ada “swooping down in [her] balloon with a contraption of some sort,
solving all of this with science.” Ada asserts that she and Mary (with some help from Charles) did solve their case with science.
“Wondering, guessing, trying, looking at things, sorting variables, guessing again. That’s how we did it. Science.” Which character
do you think is right about how science works? How would you defne what science is and how it works? What connections do you see
between science and imagination in this book? In real life? In what ways, if any, has this series changed the way you think about
the nature of science?</p>

<h3>History</h3>

<p>Like the real Ada Lovelace, women who made history in male-dominated math, science, and engineering fields are often not as well known
as their male counterparts. Give students a chance to investigate and tell the stories of women’s achievements through living-history interviews.
Have students work in pairs to select a significant female scientist, mathematician, or engineer in world history and identify and research
the key accomplishments in her life. Students should also explore the challenges and restrictions women faced during the subject’s lifetime.</p>

<h3>Science</h3>

<p>Mary marvels at the maze of pipes that funnel hot air from chimneys to keep Ada’s hot-air balloon aloft over the house. How does it work? Have half
the class research the science behind how hot-air balloons work; the other half, how chimneys work. Then, divided into small groups, have students
discuss both areas of research, determine how Ada’s balloon worked, and examine what scientifc principles are involved. Each group should create a
drawing and details of how they believe Ada constructed her balloon and its hot-air source to share with the class. To make thier own balloon,
groups can draw inspiration from their ideas about Ada’s balloon, then create their own plan or work from the balloon design available from
<a href="http://www.balloonexplorium.org/index.php?page=tissue-paper-balloons" target="_blank">Balloon Explorium</a>, which includes step-by-step
instructions for building and launching a hot-air balloon constructed from tissue paper. Provide materials for students
to construct their balloons, arrange for a heat source, gather necessary safety equipment, and prepare to launch!</p>

<h3>Engineering & History</h3>

<p>Even as Ada’s hot-air balloon is going down in flames, she’s already thinking about making it bigger and better. Improving and refining is an
important part of the engineering design process. Many inventions we enjoy today were imagined and developed long ago, but were refined and improved
later by subsequent inventors, engineers, and designers. Ask students to share what they know about the origins of technologies they regularly
use — from indoor plumbing to cell phones. Following this discussion, divide students into small groups to research how the computer has evolved
since Charles Babbage started with his ideas for the Difference Engine and the Analytical Engine. Beginning with the 1800s, have each group focus
on a different time period, covering developments in computer technology in that era, how the technology was utilized, and how that usage compares
to the way we meet a similar need today. Students should also include their own ideas for improving computers to meet a current problem or need and
what they think will happen in the future of computing. Small groups should present their research and ideas to the entire class in a multimedia
presentation.</p>

<h3>Math &amp; Computer Science</h3>

<p>Charles Babbage conceived the idea of the Analytical Engine — a general-purpose computer. But Ada Lovelace, who added extensive notes in
her 1842 translation of <i>Sketch of the Analytical Engine Invented by Charles Babbage</i>, made clear how it would work. Her algorithm for
generating Bernoulli numbers with the Analytical Engine is regarded as the world’s first computer program. The series presents Lovelace’s and
Babbage’s ideas, the concept of punchcards, binary numbers, and algorithms, and how they can be useful in a number of different circumstances.</p>

<p>As a set of step-by-step instructions for solving a problem, algorithms are all around us. They are especially important to computers,
which need methods for solving problems. Explain to students how a recipe could be considered an algorithm, as it produces a result given
a specific set of inputs (ingredients) in a finite amount of time. Ask students to think about what other activities they do that could be
broken down into step-by-step instructions. Ask them to pick one and describe it, breaking it down so that a computer might understand it.
In their writing, students should include <i>inputs</i> (everything needed to do the steps) and <i>outputs</i> (the solution to the problem).
Students should number each step and separately note any <i>assumptions</i> (accepted facts that relate to the activity). Have students exchange
their work and act as the “computer” to check one another for precision and for reproducability.</p>

</columns>

</article>