---
title: Parents and Educators
category: Parents & Educators
no-header: true
---

<h2>For Parents and Educators</h2>

<p>The Wollstonecraft universe provides diverse opportunities for learning in common core subjects such as math, computer science, engineering, history, and literacy. Children can explore coordinate grids and solve algebraic problems using binary code with Ada&rsquo;s BLEH machine, interact with the history of the Regency Era, and discover the role that women have played in scientific discovery throughout history.</p>

<ul>
	<li>Information Pioneers: Ada Lovelace <a href="http://www.vimeo.com/11923950">http://www.vimeo.com/11923950 </a></li>
	<li>Computer Science Unplugged <a href="http://www.CSUnplugged.org/">http://www.CSUnplugged.org/</a>   </li>
	<li>The First 2000 Years of Computing <a href="http://www.computerHistory.org/revolution">http://www.computerHistory.org/revolution</a></li>
	<li>Great Women in Engineering History <a href="http://www.EngineerGirl.org/4356.aspx">http://www.EngineerGirl.org/4356.aspx</a></li>
	<li>Historic Female Scientists and Mathematicians </li>
	<li><a href="http://www.SmithsonianMag.com/science-nature/ten-historic-female-scientists-you-should-know-84028788">http://www.SmithsonianMag.com/science-nature/ten-historic-female-scientists-you-should-know-84028788</a>
	<li><a href="http://www.SmithsonianMag.com/science-nature/five-historic-female-mathematicians-you-should-know-100731927">http://www.SmithsonianMag.com/science-nature/five-historic-female-mathematicians-you-should-know-100731927</a>
</ul>