---
breadcrumb: The Agency, Ada's Training
title: Ada's Punchcard Training
category: The Agency
banner: the-agency.png
description: Learn how punch cards work

type: slide-show
slides:
  #~ #TEST SLIDE
  #~ -
    #~ who: ada
    #~ caption: This is a punch card. I use it in my computer. ^500 Want to know how they work? ^500 I'll show you!
    #~ body: |
      #~ <div class="card-box">
        #~ <div class="punch-card correct show-binary show-count show-value" data-value="15"></div>
      #~ </div>
    #~ js: |
      #~ slide_show.hide_last()

  -
    who: ada
    caption: This is a punch card. I use it in my computer. ^500 Want to know how they work? ^500 I'll show you!
    body: |
      <div class="card-box">
        <div class="punch-card no-count flipped" data-value="15"></div>
      </div>
    js: |
      slide_show.hide_last()
  -
    who: ada
    caption: Count the dots in each column. ^500 What do you notice about the number of dots?
    body: |
      <div class="card-box">
        <div class="borderless-card">
          <div class="dot-column">
            <div class="number hidden">8</div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div>
          </div>
          <div class="dot-column">
            <div class="number hidden">4</div><div></div><div></div><div></div><div></div>
          </div>
          <div class="dot-column">
            <div class="number hidden">2</div><div></div><div></div>
          </div>
          <div class="dot-column">
            <div class="number hidden">1</div><div></div>
          </div>
        </div>
      </div>
  -
    who: ada
    caption: ^4000 Each column has twice as many dots as the column to its left.
    js: |
      $(".borderless-card > .dot-column > .number").removeClass("hidden")

  -
    who: ada
    caption: We'll put these dots on a cards so we can count them.
    body: |
      <div class="card-box">
        <div class="punch-card" data-value="15"></div>
      </div>
  -
    who: ada
    caption: Notice that there is also a hole on the card under each column of dots?...<br/> ^250  When we punch the hole we count the dots above it.
    body: |
      <div class="card-box">
        <div id="card1" class="punch-card show-value" data-value="0"></div>
      </div>
  -
    who: ada
    caption: We punched the first hole, which has 8 dots above it.  This card now represents the number 8!
    js: |
      var card = $("#card1").data("object")
      if (card != null ){
        card.set_value(8)
      }

  -
    who: ada
    caption: \&ldquo;Binary&rdquo; means something with two possible states. ^250 Holes in the punch cards can have two states&#58; ^250  <u>not punched</u> or <u>punched</u>.
    body: |
      <div class="card-box">
        <div class="punch-card" data-value="8"></div>
      </div>
  -
    who: ada
    caption: We can use numbers 1 and 0 too.  The number <u>1</u> means <i>punched</i>,  and the number <u>0</u> means <i>not punched</i>.
    body: |
      <div class="card-box">
        <div id="card1" class="punch-card show-binary" data-value="8"></div>
      </div>
  -
    who: ada
    caption: This is the binary number system. 1000 in binary means the first hole is punched and the rest are not.  That makes 8 dots so this card represents the number 8
  -
    who: ada
    caption: Below the card I wrote down how I add up each column...
    body: |
      <div class="card-box">
        <div id="card1" class="punch-card show-count show-value show-binary" data-value="8"></div>
      </div>

  -
    who: ada
    caption: We can punch more than one hole to represent any number between 0 and 15. ^500 Let's see what happens when we punch the second hole too.  Tap next.

  -
    who: ada
    caption: Now there are 12 dots, which means this card represents the number 12.
    js: |
      var card = $("#card1").data("object")
      if (card != null ){
        card.set_value(12)
      }


  -
    who: ada
    caption: Now it's your turn to punch some holes.   Tap on the holes to make any number you want.  Can you make the number 6?
    body: |
      <div class="card-box">
        <div id="card1" class="punch-card interactive show-count show-value show-binary" data-value="0"></div>
      </div>
    js: |
      slide_show.hide_next()
      setTimeout(function(){
        var card = $("#card1").data("object")
        card.on_punch = function(value){
          if ( value == 6 ){
            slide_show.visit_next()
          }
        }
      },1000)
  -
    who: ada
    caption: You did it!
    js: |
      var card = $("#card1").data("object")
      card.set_correct()
      card.stop_interaction()
      slide_show.show_next()
  -
    who: ada
    caption: Let's try that one more time.  Can you make the number 9?
    body: |
      <div class="card-box">
        <div id="card1" class="punch-card interactive show-count show-value show-binary" data-value="0"></div>
      </div>
    js: |
      slide_show.hide_next()
      setTimeout(function(){
        var card = $("#card1").data("object")
        card.on_punch = function(value){
          if ( value == 9 ){
            slide_show.visit_next()
          }
        }
      },1000)
  -
    who: ada
    caption: Great job
    js: |
      var card = $("#card1").data("object")
      card.set_correct()
      card.stop_interaction()
      slide_show.show_next()
  -
    who: ada
    caption: I think you're ready for my punch card challenge!
    body: |
      <div class="card-box">
        <div class="button-container">
          <a class="button large" href="punch-card-challenge.html">Tap here to take the punch card challenge</a>
        </div>
      </div>

---

<%= stylesheet_link_tag("punchcard-challenge") %>

<%= quiz current_page.data %>
