---
title: Test Punch-cards
layout: index
---

<%= stylesheet_link_tag("punchcard-challenge") %>
<div class="punch-card flipped">
	<div class="patches">
		<div class="patch"></div><div class="patch"></div><div class="patch"></div><div class="patch"></div>
	</div>
	<div class="dots">
		<div class="column punched">
			<div class="dot"></div>
			<div class="dot"></div>
			<div class="dot"></div>
			<div class="dot"></div>
			<div class="dot"></div>
			<div class="dot"></div>
			<div class="dot"></div>
			<div class="dot"></div>
		</div>
		<div class="column punched">
			<div class="dot"></div>
			<div class="dot"></div>
			<div class="dot"></div>
			<div class="dot"></div>
		</div>
		<div class="column punched">
			<div class="dot"></div>
			<div class="dot"></div>
		</div>
		<div class="column punched">
			<div class="dot"></div>
		</div>
	</div>
</div>