.workSpace > .comment{
	background:#f0d0a0;
	border:1px solid rgba(192,255,192,0.75);
	background:rgba(64,255,64,0.25);
	color:white;
	font-size:14px;
	border-top:2px solid white;
	border-left:2px solid white;
	border-radius:12px;
	width:192px;
	padding:4px;
	
	pointer-events:all;
	
	
}